<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spba.dao.ArticleMapper">

    <select id="getList" parameterType="HashMap" resultType="HashMap">
        SELECT a.id, a.title, a.subtitle, a.category, a.author, a.createTime FROM article a
        <where>
            <if test="params.category != null and params.category != ''">a.category = #{params.category}</if>
        </where>
        ORDER BY a.createTime DESC
    </select>

</mapper>
